<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZBATCOIN</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>
	<div class="overlay"></div>
	<div class="scanline"></div>
<div class="wrapper">
<div class="content clearfix">

		<header class="site clearfix">

			<div class="col two">
				<h4>HIVEMIND.IO (tm) <br />bringing blockchain & crypto to Tanit</h4>
				<p>--------------------------------------</p>
				<p>ZBATCOIN v. 0.0.1</p>
				<p>::(c)2021::M(06)::THU-WED(11-12)::</p>
				<p>::/#~Cryptozbat</p>
			</div>
		</header>

		<nav class="site clear">
			<ul>
				<li><a href="/login">LOGIN</a></li>
				<li><a href="/register">REGISTER</a></li>
			</ul>
		</nav>

		<p>System Administrator Integrated Message System (SAIMS)</p>
		<p>System Administrator (SYSADM) - @Thorvalld</p>

		<p class="clear"><br /></p>

		<p>Ideated by authentic zbat gathering, post-tanit.</p><br/>
		<marquee behavior="scroll" scrollamount="10" direction="right"><p>fdbf7fbb29e26f52a05ae4c1bc2670229096de600bf4f468c62ce25fab8376e6da15e864ffe00bd313cd26181c01f9aa917f27205d4f4cf185545d8318647a86</p></marquee>

	</div>
</div>

</body>
</html>