<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='err_page_style.css') }}">
</head>
<body>
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span> PAGE NOT FOUND</h1>
  <!--<p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>-->
  <p class="output">~/$ Sorry, we can’t find the page you were looking for</p>
  <p class="output">Try to <a href="/">return to homepage</a> or <a href="#">refresh</a>.</p>
  <p class="output">Thank you for trusting zbatcoin (c) : a HIVEMIND.IO original.</p>
</div>
</body>
</html>
<!-- <a href="#1">go back</a> or -->